body {
  background: #f5f5f7;
}
/* Sidebar background */
.items {
  background: #374988;
}

.text-primary {
  color: #374988!important;
  margin-top: 2rem;
  margin-bottom: -2rem;
  margin-left: 2.3rem;
}

.text-1 {
  color: #374988;
}
.text {
  border-bottom: 1px solid #ccc;
  margin: 0 -1.5rem;
}
.text-guide {
  color: #1c2544;
}

.table {
background: #fff;
border-radius: .5rem;
box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);

}
 
.select {
  width: 80%;
}

.privacy {
  background: #d6d6d6;
  margin: 1rem -1.5rem;
}

.privacy .fa-lock {
  padding-right: .5rem;
  padding-left: .5rem;
}

.pass .fa-lock {
  padding-right: .5rem;
  padding-left: .5rem;
  color: #faa425;
}

/* Here are the icons styles that need replacing */
.privacy .fa-lock {
  padding-right: .5rem;
  padding-left: .5rem;
  color: #faa425;
}

.pin .fa-times {
  padding-right: .5rem;
  padding-left: .5rem;
  color: #c62874;;
}

.privacy .fa-sign-out-alt {
  padding-right: .5rem;
  padding-left: .5rem;
  color: #374988;
}

.active {
  background: #f5f5f7;
  border-radius: .4rem;
}

.active, .pass, .pin {
  cursor: pointer;
}

.fa-toggle-off {
  color: #c62874;
}

.fa-angle-right {
  float: right;
  padding: .3rem;
}

.help {
  padding-top: 2rem;
}

.help a, .text a {
  color: #374988;
}

.card {
  margin-bottom: 4rem;
  border: 1px solid #ccc;
  margin-right: 4rem!important;
}

.card-pin {
  background: #d6d6d6;
  display: flex;
  align-items: center;
  padding: .7rem;
}

.card-form {
  padding: 2rem;
}

.card-form .card-empty {
  padding: 8rem;
}

.card-pin .fa-times {
 margin-left: 30rem;
 color: #e50e0e;
 background:#facfcf;
 padding: .3rem;
 border-radius: 50%;
 cursor: pointer;
}

.card-pin .fa-lock {
  color: #374988;
}

.card-pin p{
  display: inline;
  margin: .6rem;
}

.sign-out {
  margin-left: 35rem;
}
.sign-out a {
  text-decoration: none;
  color: #e50e0e;
}
.sign-out .fa-sign-out-alt {
  text-decoration: none;
  color: #e50e0e;
}

.btn-primary {
  width: 30%;
  margin: 1rem 0;
  border-radius: 8px;
  background: #374988!important;
  outline:  #374988!important;
}
.btn-primary:hover {
  background: none!important;
  outline:  #374988!important;
  color:  #374988;
}

.form-control {
  width: 80%!important;
}

.card-form {
  background: #f5f5f7;
  color: ;
}


#f5f5f7  #facfcf
#d7dbe7  #e50e0e
#bcc2d7  
#1c2544  

#f4d4e3  
#c62874  

#cfe2ec  
#0d6ca2

#cfecd7
#0da237

#feedd3
#faa425


#fdfdfd
#d6d6d6
#888888
#999999
#777
#555
#333
